[submodule "software/fluidics_v2"]
	path = software/fluidics_v2
	url = https://github.com/Cephla-Lab/Squid-Fluidics.git
[submodule "software/control/ndviewer_light"]
	path = software/control/ndviewer_light
	url = https://github.com/Cephla-Lab/ndviewer_light.git
